<table border="1">
  <tr>
    <th>id</th><th>body</th><th>status</th><th>entry_id</th>
  </tr>

<% @entries.each do |entry| %>
  <% entry.comments.each do |comment| %>
  <tr>
    <td><%= comment.id %></td>
    <td><%= comment.body %></td>
    <td><%= comment.status %></td>
    <td><%= comment.entry_id %></td>
<%
=begin
%>
    <td style="background-color:<%= cycle('#FFffFF', '#FFff99') %>">
      <%= entry.isbn %></td>
    <td style="background-color:<%= current_cycle %>">
      <%= entry.title %></td>
<%
=end
%>
  </tr>
  <% end %>
<% end %>
</table>

<%
=begin
%>
<%= debug(@books) %>
<%= @books.inspect %>
<%
=end
%>
